BHD_LOGIN_URL=https://ibp.bhd.com.do/#/login
BHD_USER=tu-usuario
BHD_PASSWORD=tu-clave
BHD_SECURITY_Q1=
BHD_SECURITY_A1=
BHD_SECURITY_Q2=
BHD_SECURITY_A2=
BHD_SECURITY_Q3=
BHD_SECURITY_A3=
BHD_SECURITY_Q4=
BHD_SECURITY_A4=
BHD_SECURITY_Q5=
BHD_SECURITY_A5=
BHD_CARD_NUMBER=
BHD_CARD_CODES=
BHD_CHANNEL=chrome
BHD_ENGINE=patchright
BHD_MODE=hidden
BHD_HUMAN=1
BHD_EMAIL_OTP=1
BHD_EMAIL_URL=https://outlook.live.com/mail/0/inbox
BHD_OTP_SENDER=bhd
BHD_ACCOUNT_NAME=Cuenta
BHD_MOVEMENTS_RANGE=Último mes
BHD_HEADED=0
BHD_SECURITY_TIMEOUT_MS=900000
BHD_SEL_USER=
BHD_SEL_PASSWORD=
BHD_SEL_SUBMIT=
BHD_SEL_LOGGED_IN=
BHD_SECURITY_HINTS=
BHD_OTP_HINTS=
BHD_CARD_HINTS=
BHD_LOGGED_HINTS=
